@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: "Open Sans", "sans-serif";

  --color-light: #e3e3e3;
  --color-dark: #0e0e0e;
  --color-gray: #1e1f20;
  --color-blue: #a8c7fa;
  --color-border: #e3e3e3;
}
